/* Modal Overlay Styling */
.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Box shadow effect */
  z-index: 1000; /* Ensure it's above all other content */
  border-radius: 10px; /* Add some rounded corners */
}

/* Modal Content Styling */
.modal-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Inner shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensures content fills the overlay width */
  height: 100%;
  color: wheat;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: wheat;
}

.modal-content p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: bold;
 
}

/* Button Styling with Hover Effect */
.modal-btn {
  background-color: orange;
  color: rgb(58, 38, 2);
  padding: .5rem;
  border: .1px solid orangered;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.modal-btn:hover {
  background-color: green;
}
